<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255707626631-86e1ovphtu6cc0lr8elul103ncuecgv5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255707626631-86e1ovphtu6cc0lr8elul103ncuecgv5</string>
	<key>API_KEY</key>
	<string>AIzaSyDW9M5p8FpJxl76mI7VnqO3UwUBkhxkG0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>255707626631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.campbell23567.Environmentalists</string>
	<key>PROJECT_ID</key>
	<string>environmentalists-c25cd</string>
	<key>STORAGE_BUCKET</key>
	<string>environmentalists-c25cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:255707626631:ios:2dfaa1c23f5f8956eb4c22</string>
	<key>DATABASE_URL</key>
	<string>https://environmentalists-c25cd.firebaseio.com</string>
</dict>
</plist>
